body,
html {
    font-family: 'Radio Canada', sans-serif;
    height: 100%;
    color: white;
}

i + i {
    margin-left: 7px;
}

#instructions {
    position: absolute;
    top: 8%;
    left: 40%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100%;
    height: 100px;
    color: black;
}

#attributes {
    display: inline-block;
    position: absolute;
    top: 80%;
    left: 30%;
    width: 100%;
    color: black;
}

#health {
    margin: 5%;
    color: red;
}
#attack {
    margin: 5%;
    color: black;
}
#defense {
    margin: 5%;
    color: blue;
}
/* https://css-tricks.com/html5-progress-element/ */
progress {
    -webkit-appearance: none;
    appearance: none;
    width: 300px;
    height: 20px;
}

progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 5px;
}

progress::-webkit-progress-value {
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
