html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}
html {
    height: 100vh;
}
body {
    font-family: 'DotGothic16', sans-serif;
    min-height: 100%;
    position: fixed;
    min-width: fit-content;
    background-color: white;
}

.bitFont {
    font-family: 'DotGothic16', sans-serif;
}

.enemiesBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    width: 160px;
    height: 30px;
    border-radius: 12px;
    gap: 5px;
}

.item-menu {
    margin-top: -12px;
}

.item-menu-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
    margin-bottom: -10px;
    width: 82%;
    height: 55px;
}

.item-menu-image {
    width: 40px;
    height: 40px;
}

.item {
    width: 50px;
    height: 50px;
}

#items {
    width: 170px;
    margin-top: -12px;
    margin-bottom: 12px;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.item-text-gui {
    font-size: 20px;
}

.coin-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3px;
}

.spend-coins-btn {
    background-color: #d9d3d2;
    width: 140px;
    height: 40px;
    border: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 12px;
    color: black;
    text-align: center;
    font-size: 16px;
}

.spend-coins-btn:hover {
    background-color: #bababa;
    transition: 0.2s;
}

#instructions {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    top: 3%;
    width: 100%;
    margin: 0;
    color: black;
    font-weight: bold;
    text-align: center;
}

#level {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

#statBox {
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    top: 3%;
    left: 2%;
    background-color: grey;
    padding: 1% 2% 0 2%;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}
.attribute {
    margin: 15% 0 15% 0;
    text-align: center;
}
#health {
    color: red;
}
#attack {
    color: black;
}
#defense {
    color: blue;
}
#coins {
    color: yellow;
}
/* https://css-tricks.com/html5-progress-element/ */
progress {
    -webkit-appearance: none;
    appearance: none;
    width: 300px;
    height: 25px;
    margin: auto;
}

progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 5px;
}

progress::-webkit-progress-value {
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

#countdown {
    position: absolute;
    left: 50%;
    top: 70%;
    margin-left: -125px;
    margin-top: -400px;
    z-index: 1;
    height: 100px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 12px;
}

#pause {
    width: 100%;
    height: 100px;
    text-align: center;
}

#pause {
    position: absolute;
    left: 50%;
    top: 75%;
    width: 400px;
    height: 300px;
    margin-left: -200px;
    margin-top: -450px;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    z-index: 2;
}

#pause p {
    margin-top: 10%;
    color: white;
}

#pause-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pause-menu button {
    font-family: 'DotGothic16', sans-serif;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    width: 50%;
}

/* https://www.w3schools.com/howto/howto_css_animate_buttons.asp */
#pause-menu button:hover {
    background-color: #ebff53;
}

#pause-menu button:active {
    background-color: #ebff53;
    transform: translateY(2px);
}

.notVisible {
    visibility: hidden;
}
#background {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.75);
}

#main,
#win,
#lose,
#next {
    margin: auto;
    margin-top: -50px;
    width: 500px;
    color: black;
    padding: 150px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
}

#title {
    font-size: 4rem;
    margin-bottom: 20%;
}

.left-align {
    text-align: left;
}

ul {
    list-style-type: square;
}

li {
    padding: 5px;
}
